.div{width:600px;
height:300px;
background:tomato;
display:grid;
place-items:center;
padding:10px;
border-radius:10%;
animation-name:tapos;
animation-duration:2s;
animation-direction:alternate; 
animation-iteration-count:infinite;
font-family:'Dancing Script', cursive;
transition-delay: 1s;
font-size:30px;

 
}
 
body{background:rgb(128, 223, 99) ;}
 


.div:hover{animation-play-state:paused;}
 

@keyframes tapos{


from{ margin-left:800px; opacity:0;}
to{margin-left:0px; opacity:1;}
}
 